// Colors
$primary: #57494F;
$secondary: #11121D;
$grey: #6f6e80;
$font_light: #E5E1E6;
$error: #870000;
$error_light: #B70000;

// Device screen
$d_lg: 1024px;
$d_md: 768px;
$d_sm: 480px;
$d_xs: 320px;

// Container sizes
$md: 1072px;
$sm: 746px;