.form-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
        align-self: flex-start;
        font-size: 20px;
        margin-bottom: 10px;
    }

    &__title, &__description {
        width: 100%;
    }
}