@import '../../resouces/styles/variables.scss';

.task-item {
    cursor: move;

    &:hover {
        box-shadow: 0px 0px 8px $primary;
    }
    
    &__top {
        display: flex;
        align-items: center;
        background-color: $primary;
        border-radius: 10px;
        padding: 10px 16px;
        margin-bottom: 16px;
    }

    &__title {
        display: block;
        padding-right: 10px;
        flex: 1 1 auto;
        cursor: pointer;
        caret-color: transparent;

        &:hover {
            text-decoration: underline;
        }
    }
}

.task-item-enter {
    opacity: 0;
    transform: scale(0.5);
}
.task-item-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 300ms ease-in;
}
.task-item-exit {
    opacity: 1;
    transform: scale(1);
}
.task-item-exit-active {
    opacity: 0;
    transform: scale(0.5);
    transition: all 300ms ease-in;
}